/node_modules
/.pnp
.pnp.js

# backend

# dependencies
.backend/node_modules
.backend/node_modules/
.backend//.pnp
.backend/.pnp.js
.backend/.idea
.backend/.eslintcache
.backend/uploads
.backend/front/coverage

# next.js
.backend/.next
.backend/out

# production
.backend/build
.backend//build
.backend/dist
.backend//dist

# misc
.backend/.DS_Store

.backend/npm-debug.log*
.backend/yarn-debug.log*
.backend/yarn-error.log*

# frontend

# dependencies
.frontend/node_modules
.frontend/.pnp
.frontend/.pnp.js

# testing
.frontend/coverage

# next.js
.frontend/.next/
.frontend/out/

# production
.frontend/build

# misc
.frontend/.DS_Store
.frontend/*.pem

# debug
.frontend/npm-debug.log*
.frontend/yarn-debug.log*
.frontend/yarn-error.log*
.frontend/pnpm-debug.log*

# local env files
.frontend/.env*.local

# vercel
.frontend/.vercel

# typescript
.frontend/*.tsbuildinfo